body {
	margin: 0;
}

.oferta {
	position: relative;

}

.lente {
	position: absolute;
	right: 50%;

}

.ribbon {
	position: absolute;
	right: 50%;
	top: 35px;
	width: 220px;
}

.ofer2 {
	position: relative;
	width: 219px;
	height: 257px;
	left: 40%;
}

.despacho {
	position: absolute;
	right: 13px;
	bottom: 58px;
	width: 52px;
}