	body {
		margin: 0;
	}

	.bandera {
		background-color: red;
		width: 400px;
		height: 300px;
		float: left;
		margin: 5px;
		border: 2px solid black;
		position: relative;
	}

		.franes {
		background-color: yellow;
		width: 100%;
		height: 100px;
		position: relative;
		top: 100px;
		float: left;
		margin: 0;
	}

		.frandin1 {
		background-color: white;
		width: 30px;
		height: 100%;
		position: absolute;
		left: 100px;
		
		}

		.frandin2 {
		background-color: white;
		width: 100%;
		height: 30px;
		position: absolute;
		float: left;
		top: 120px;
		}

		.emiver {
		background-color: green;
		width: 300px;
		height: 100px;
		position: relative;
		float: right;
		}

		.emiblan {
		background-color: white;
		width: 300px;
		height: 100px;
		position: relative;
		float: right;
		}

		.emineg {
		background-color: black;
		width: 300px;
		height: 100px;
		position: relative;
		float: right;
		}

		.jap {
		box-sizing: border-box;
		background-color: white;
		width: 400px;
		height: 300px;
		float: left;
		margin: 5px;
		border: 2px solid black;
		}

		.circulo {
		background-color: red;
		width: 120px;
		height: 120px;
		position: relative;
		float: left;
		top: 80px;
		left: 140px;
		border-radius: 200px;	
		}